{% extends 'polls/base.html' %}
{%  block style_class %}
comic-theme
{% endblock %}
{% block content %}
<style>
    button {
        font-size: 24px;           /* 글씨 크기 */
        font-family: 'Comic Sans MS';  /* 글씨체 */
        font-weight: bold;         /* 굵게 */
        margin : 15px;
    }
</style>
<img src="https://i.namu.wiki/i/0alyQchXxxaFYLJcUh2-3D16-ACPDKgcopnDPPXa56sp1b2qi9hBiSCpXdXaHMo9VvQNng6H42RFFxcjlrH_Sw.gif" alr="sans">
<div>
    <button>
        FIGHT
    </button>
    <button>
        ACT
    </button>
    <button>
        ITEM
    </button>
    <button>
        MERCY
    </button>
</div>
{% endblock %}